@charset "UTF-8";

html{
    font-size : 10px;
}

body{/*ページの背景色，フォントサイズ，フォントタイプ*/
    margin : 0;
    font-size : 1.6rem;
    background-color : #fffeee;
    font-family: "遊ゴシック", "Yu Gothic", YuGothic, sans-serif;
}
/*見出しの設定*/
header{/*chocoZAP*/
    display : flex;
    align-items : center;
    background-color : #ffbf1f;
    height : 100px
}

/*chocoZapの設定*/
h1 {
    margin : 20px;
}
/*セクションの位置を中央へ*/
section {
    padding : 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**/
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*なまえの設定*/
h2 {
    font-size: 6rem;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffbf1f;
   }

/*出身大学*/
h3 {
    font-size: 3.6rem;
    max-width: 840px;
    width: 100%;
    margin-bottom:10px;
}
/**/
.university{
    border-bottom : solid 3px #ffbf1f;
}

.hometown{
    border-bottom : dotted 3px #ffbf1f;
}

.interest{
    border-bottom : dashed 3px #ffbf1f;
}
   
footer{
    flex-direction : column;
    background-color : #ffbf1f;
    font-size : 1.8rem;
    display : flex;
    justify-content : center;
    padding : 10px;
    align-items : center;
}



